@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.windows {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.windows .__screen {
  width: 368px;
  height: 80vh;
  border-radius: 10px 10px 10px 10px;
  overflow: auto;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.651);
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .windows {
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .windows .__screen {
    width: auto;
    height: auto;
    background-color: none;
    border-radius: none;
    overflow: auto;
    padding: 20px;
    box-shadow: none;
  }
}
